<div class="container">
    <div class="form-group" *ngIf="crud_operation.is_visible">
        <label>Nombre</label>
        <input type="text" class="form-control" [(ngModel)]="current_prod.p_Nombre">
        <label>Descripcion</label>
        <input type="text" class="form-control" [(ngModel)]="current_prod.p_Descripcion">
        <label>Imagen</label>
        <input type="text" class="form-control" [(ngModel)]="current_prod.p_UrlImagen">
        <label>Precio</label>
        <input type="number" class="form-control" [(ngModel)]="current_prod.p_Precio">
        <label>Stock</label>
        <input type="number" class="form-control" [(ngModel)]="current_prod.p_Stock">
        <label>Unidades</label>
        <input type="text" class="form-control" [(ngModel)]="current_prod.p_unidades">
        <label>Estado</label>
        <input type="text" class="form-control" [(ngModel)]="current_prod.p_status">
        <label>Categoria</label>
        <input type="number" class="form-control" [(ngModel)]="current_prod.id_Categoria">

        <button class="btn btn-primary" (click)="save()">Guardar</button>
        <button class="btn btn-danger" (click)="crud_operation.is_visible=false">Cancelar</button>
    </div>

    <div class="form-inline col-md-8">
        <input class="form-control"  type="buscar" placeholder="Buscar Producto..." [(ngModel)]="query">
        <button class="btn btn-info" (click)="ngOnInit()">Buscar</button>
    </div>
           
    
    <div class="panel-body">   
        <table class="table table-striped table-over">
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Imagen</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Unidad</th>
                <th>Estado</th>
                <th>Categoria</th>
                <th class="text right">
                    <button class="btn btn-success" (click)="new()">Nuevo</button>
                </th>
                
            </tr>
            <tr *ngFor = "let row of data">
                <td>{{ row.p_Nombre }}</td>
                <td>{{ row.p_Descripcion }}</td>
                <td><img src="{{ row.p_UrlImagen }}"> </td>
                <td>{{ row.p_Precio }}</td>
                <td>{{ row.p_Stock }}</td>
                <td>{{ row.p_unidades }}</td>
                <td>{{ row.p_status }}</td>
                <td>{{ row.id_Categoria }}</td>
                <td class="text right">
                    <div *ngIf="!row.confirm">
                        <button class="btn btn-danger" (click)="row.confirm=true">Eliminar</button>
                        <button class="btn btn-warning" (click)="edit(row)">Editar</button>
                    </div>  
                    <div *ngIf="row.confirm">
                        <button class="btn btn-success" (click)="delete(row.id)">Confirmar</button>
                        <button class="btn btn-danger" (click)="row.confirm=false">Cancelar</button>
                    </div>
                </td>
                
            </tr>
        </table>
    </div>
</div>