<div class="col-lg-12 text-center container-fluid">
    <div class="breadcrumb__text img-fluid ">
        <img src="./../../../../assets/img/hero.jpg" alt="">
    </div>
</div>
<br>
<h1 class="text-center">Ubícanos</h1>
<!-- Breadcrumb Section End -->
<i class="fa fa-map-marker-alt"></i>
<!-- Contact Section Begin -->
<i class="fa fa-clock"></i>
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="fa fa-phone"></span>
                    <h4>Telefono:</h4>
                    <p>+51 947804528</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="fa fa-map-marker"></span>
                    <h4>Dirección</h4>
                    <p>Alfonso Ugarte 639 Trujillo</p>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="fa fa-clock-o"></span>
                    <h4>Horario de Atención</h4>
                    <p>Envios desde las 6.00 am - 7.00 pm</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="fa fa-envelope"></span>
                    <h4>Correo</h4>
                    <p>contacto@mibodeguita.com.pe</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->

<!-- Map Begin -->
<div class="map">

    
    <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d5585.678570151265!2d-79.05044475472577!3d-8.134917329116501!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m0!4m5!1s0x91ad3d16a9b4375b%3A0xecbfef30d8a07b51!2sCalle%201%2010%2C%20Distrito%20de%20V%C3%ADctor%20Larco%20Herrera%2013009!3m2!1d-8.1331661!2d-79.0476608!5e0!3m2!1ses-419!2spe!4v1606876646971!5m2!1ses-419!2spe" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <div class="map-inside">
        <i class="icon_pin"></i>
        <div class="inside-widget">
            <h4>Trujillo - Victor Larco Herrera</h4>
            <ul>
                <li>Teléfono: +51 947804528</li>
                <li>Alfonso Ugarte 639 Trujillo</li>
            </ul>
        </div>
    </div>
</div>
<!-- Map End -->

<!-- Contact Form Begin -->
<div class="contact-form spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact__form__title">
                    <h2>Envíanos tus Consultas</h2>
                </div>
            </div>
        </div>
        <form action="#">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <input type="text" placeholder="Nombres Completos">
                </div>
                <div class="col-lg-6 col-md-6">
                    <input type="text" placeholder="Correo Electrónico">
                </div>
                <div class="col-lg-12 text-center">
                    <textarea placeholder="Escribe aquí tus consultas"></textarea>
                    <button type="submit" class="site-btn">ENVIAR MENSAJE</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Contact Form End -->
