  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0 hero__categories__all">
                <button class="btn btn-link btn-block text-left " type="button" data-toggle="collapse"
                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <span>Categorías</span>
              </button>
              </h2>
            </div>
  
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <div class="hero__categories">
                  <ul>
                    <li><a href="#">Abarrotes</a></li>
                    <li><a href="#">Frutas</a></li>
                    <li><a href="#">Vegetables</a></li>
                    <li><a href="#">Aguas y Bebidas</a></li>
                    <li><a href="#">Galletas y Golosinas</a></li>
                    <li><a href="#">Panadería</a></li>
                    <li><a href="#">Lácteos</a></li>
                    <li><a href="#">Carnes y Embutidos</a></li>
                    <li><a href="#">Pescados y Mariscos</a></li>
                    <li><a href="#">Lavandería</a></li>
                    <li><a href="#">Higiene Personal</a></li>
                  </ul>
                </div>
  
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-9">
        <div class="row hero__search">
          <div class=" d-flex">
            <p class="col-6"><b> Todas las Categorías </b></p>
            <input class="form-control col-8 mr-3" type="buscar" placeholder="¿Qué estas buscando?" [(ngModel)]="query">
            <button class="site-btn col-3 p-1" (click)="ngOnInit()">Buscar</button>
          </div>
        </div>

        <br>
        
        <div class="row">
          <div class="col-lg-3 " *ngFor="let row of data">
            <div class="card">
              <img class="card-img-top" src="{{ row.p_UrlImagen }}" alt="Card image cap">
              <div class="card-body">
                <h4 class="h6">{{ row.p_Nombre }}</h4>
                <p class="card-text">S./ {{ row.p_Precio }}</p>
              </div>
              <map-component></map-component><map-component [data2]="data2"></map-component>

              <a href="productos/detalle" class="btn btn-primary">Agregar</a>  
              
              
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
