<!-- Footer Section Begin -->
<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer__about">
                    <ul>
                        <li><i class="fa fa-map-marker"></i> Dirección: Alfonso Ugarte 639 Trujillo</li>
                        <li><i class="fa fa-phone"></i> Teléfono: +51 947804528</li>
                        <li><i class="fa fa-envelope"></i> Correo: contacto@mibodeguita.com.pe</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 offset-lg-1">
                <div class="footer__widget">
                    <ul>
                        <li><a href="#">Quienes Somos</a></li>
                        <li><a href="#">Nuestros Productos</a></li>
                        <li><a href="#">Contáctanos</a></li>
                    </ul>

                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer__widget">
                   
                    <p>Visita Nuestras Redes Sociales</p>
                    <form action="#">
                        <input type="text" placeholder="Ingresa tu Correo">
                        <button type="submit" class="site-btn">Enviar</button>
                    </form>
                    <div class="footer__widget__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>
<!-- Footer Section End -->